@import "../../../node_modules/admin-lte/build/less/AdminLTE.less";

@boxed-layout-bg-image-path: "../../dist/img/boxed-bg.jpg";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

.error-page {
	background-color: @body-bg;
	min-height: 150px;
}

.error-page > .headline {
	padding-left: 10px;
}

[v-cloak] {
	display:none;
}

/* OVIDIU */

.thead-inverse th {
	color: #fff;
	background-color: #292b2c;

}